<div class="bg-[#0A2647] text-white py-6 md:h-[50vh] h-[70vh] flex flex-col items-center relative"
    style="background-image: url('assets/giftbg.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover; ">
    <h1 class="text-4xl font-bold mb-3 text-center z-50">Gift</h1>
    <div class="md:w-[50%] w-full p-2 mx-auto md:h-[80%] h-full flex flex-col justify-evenly z-50">
        <p class="text-center mb-2">
            We are filled with gratitude for your thoughtful consideration!

            We would be overjoyed to have you join us on our special day. However, if attending in person isn't
            possible,
            and you'd like to send a monetary gift, please find our account details below:
        </p>
        <div class="text-center">
            <span class="flex md:mx-2 justify-center items-center"><h1 class="font-bold mr-2">ACCOUNT NAME: </h1>Ogunmola Bukky Abigail</span>
            <span class="flex md:mx-2 justify-center items-center"><h1 class="font-bold mr-2">ACCOUNT NUMBER: </h1>0175281306</span>
            <span class="flex md:mx-2 justify-center items-center"><h1 class="font-bold mr-2">BANK: </h1> Guarantee Trust Bank (GTB)</span>
       </div>
        <div class="text-center">
            <span class="flex md:mx-2 justify-center items-center"><h1 class="font-bold mr-2">ACCOUNT NAME: </h1> Kehinde Emmanuel Oluwatosin</span>
            <span class="flex md:mx-2 justify-center items-center"><h1 class="font-bold mr-2">ACCOUNT NUMBER: </h1>0170888126</span>
            <span class="flex md:mx-2 justify-center items-center"><h1 class="font-bold mr-2">BANK: </h1> Guarantee Trust Bank (GTB)</span>
       </div>
       
    </div>
    <div class="bg-black opacity-60 z-40 md:h-[50vh] h-[70vh] absolute top-0 right-0 left-0"></div>
</div>