<div class="">
   
    <div class=" md:p-8 p-1">
        <div class="shadow-2xl p-4 md:w-[50%] mx-auto bg-white border-2 md:border-gray-200 border-black">
            <h1 class="text-4xl font-bold mb-3 text-center py-4 underline underline-offset-4">Q & A</h1>
            <div class="">
                <h3 class="border-b-2 p-2 font-bold">When is the RSVP deadline?</h3>
                <p class="border-b-2 p-2">
                    Please RSVP by October 27th,so we can have accurate headcount.
                </p>
            </div>
            <div class="">
                <h3 class="border-b-2 p-2 font-bold">What will the weather be like?</h3>
                <p class="border-b-2 p-2">
                    It's expected to be a sunny day at 32 degrees according to the weather Forcast.
                </p>
            </div>
            <div class="">
                <h3 class="border-b-2 p-2 font-bold">What should I wear?</h3>
                <p class="border-b-2 p-2">
                    Please see our schedule for the dress code.
                </p>
            </div>
            <div class="">
                <h3 class="border-b-2 p-2 font-bold"> What will be the traffic situation?</h3>
                <p class="border-b-2 p-2">
                    Expect slight traffic between checkpoints and Abacha road junction.
                </p>
            </div>
            <div class="">
                <h3 class="border-b-2 p-2 font-bold">Is the wedding indoor or outdoor?</h3>
                <p class="border-b-2 p-2">
                    The wedding is indoor.
                </p>
            </div>
            <div class="">
                <h3 class="border-b-2 p-2 font-bold">Is it okay to take pictures with our phones and cameras during the
                    wedding?</h3>
                <p class="border-b-2 p-2">
                    Yes, You can, as long as you don't come too close to the stage. We will have professional
                    photographers taking most of the space and photos.
                </p>
            </div>
            <div class="mb-7">
                <h3 class="border-b-2 p-2 font-bold">Who should I call for inquiries?</h3>
                <p class="p-2 border-b-2">
                    Please call Oluwatoba on 08033551737 or Olalekan on 07030428619
                </p>
            </div>
        </div>
    </div>
</div>